ul {
    list-style: none;
    position: relative;
}

.tree summary{
    cursor: pointer;
}

.tree summary::marker{
    display: none;
}

.tree summary::-webkit-details-marker {
    display: none;
}

ul >li::after{
    position: absolute;
    border: 2px solid rgb(194, 18, 18);
    margin: 20px;
}
